@media (min-width: 320px) and (max-width: 480px) {
  
    /** Navigation **/
    header, nav {
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    .link-items {
        gap: 1rem;
        padding-right: 1rem;
    }

    /** Landing Page **/
    .landing {
        margin: 0;
    }

    
    h1 {
        font-size: 1.5rem;
    }

    /** About **/
    .about h2 {
        font-size: 3rem;
    }

    .text {
        font-size: 1rem;
        text-align: center;
    }

    .inner-container {
        flex-direction: column;
        padding: 1rem;
    }

    .image-container img{
        height: 15rem;
    }

    /** Projects **/

    .projects h2 {
        font-size: 3rem;
    }

    .carousel {
        width: 80%;
    }

    .project-images {
        display: flex;
        gap: 1rem;
        transition: transform 0.3s ease-in-out;
    }
    
}